.deteksi{
    margin-top: 100px;
}

.text-center h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #557334;
}

.text-center p {
    font-size: 1.2rem;
    color: #6c757d;
}

.upload-input {
    border-radius: 10px;
    padding: 12px;
    font-size: 1.1rem;
    border: 2px solid #ddd;
    background-color: #f8f9fa;
}

.upload-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.btn-detect {
    font-weight: bold;
    padding: 15px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #eebd2b;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-detect:hover {
    background-color: #ff9900;
}

.uploaded-image {
    width: 50%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-decoration {
    text-align: center;
}

.result-decoration h5 {
    font-size: 1.3rem;
}

.result-alert {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #eaf7e6;
    border-color: #28a745;
}

.result-alert h4 {
    font-size: 1.6rem;
    color: #28a745;
}

.error-alert {
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    background-color: #f8d7da;
    border-color: #dc3545;
}

.error-alert h4 {
    font-size: 1.6rem;
    color: #dc3545;
}

/* Mobile Optimization */
@media (max-width: 767px) {
    .deteksi .row {
        flex-direction: column;
        align-items: center;
    }

    .btn-detect {
        font-size: 1rem;
    }

    .uploaded-image {
        max-width: 200px;
    }

    .result-decoration h5 {
        font-size: 1.2rem;
        margin-top: 50px;
    }

}