.deteksi {
    margin-top: 100px;
}

.deteksi h1 {
    color: #557334;
}

.uploaded-image {
    max-width: 100%;
    border: 2px solid #ffc107;
    border-radius: 10px;
    margin-top: 10px;
}

.btn-detect {
    background-color: #ffc107;
    color: #fff;
    font-weight: bold;
    border: none;
}

.btn-detect:hover {
    background-color: #e0a800;
}

.alert-success {
    background: linear-gradient(135deg, #fefbd8, #ffeb99);
    color: #6c5c3d;
    border: none;
}
